.pokedex-container{
    background-color: #14efce;
    margin-left: 15%;
    width: 70%;
    min-height: 475px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.pokelist-container{
    width: 300px;
    height: 455px ;
    overflow-y: scroll;
    background-color: rgba(252, 126, 47, 0.6);
    margin: 10px;
    flex-grow: 3 ;
    border-radius: 10px 1px 1px 10px;
}
.pokesearchresult-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    background-color: rgba(252, 126, 47, 0.6);
    margin: 10px;
    flex-grow: 1;
    height: 455px;
    border-radius: 1px 10px 10px 1px;
}
@media only  screen and (max-width:845px) {
    
    .pokelist-container{
        border-radius: 10px;
    }
    
    .pokesearchresult-container{
        border-radius: 10px;
    }
}
